@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #130f40;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 64px 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.content {
  blockquote {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: white;
    color: black;
    padding: 1rem 2rem;
    margin: 0;
    opacity: 0.8;
    border-radius: 0.5rem;

    span.notion-emoji {
      display: block;
      font-size: 1.5em;
    }
  }

  blockquote.notion-quote {
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: solid 4px red;
  }

  pre {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: black;
  }

  figure {
    margin: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
    color: black;

    img {
      display: block;
    }

    legend {
      font-size: 0.8em;
      padding: 0.5rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
    border-radius: 0.5rem;

    th,
    td {
      border: solid 1px black;
    }

    td {
      padding: 0.5rem 0.3rem;
    }
  }

  details summary {
    h1,
    h2,
    h3 {
      cursor: pointer;
      display: inline-block;
    }
  }
}

img {
  max-width: 100%;
}
