h1,
h2,
h3 {
  line-height: 1.3;
  padding: 3px 2px;
}

h1 {
  font-size: 1.875em;
  margin-top: 1.1em;
  margin-bottom: 4px;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.93em;
  margin-bottom: 1px;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  margin-top: 0.8em;
  margin-bottom: 1px;
  font-weight: 600;
}
